/*
   filmtn.css

  cf.)https://saruwakakun.com/html-css/basic/table
  
*/

a {
  text-decoration: none;
}

table {
  /*border-collapse: collapse;*/
  
  border-collapse: separate;
  border-spacing: 3px;
}
table th {
  border: solid 1px gray;
}
table td {
  border: solid 1px white;
  /*実線 1px 黒*/
}


